name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    name: RSpec (Ruby ${{ matrix.ruby }})
    strategy:
      matrix:
        ruby:
          - "3.2.4"
          - "3.3"
          - "ruby" # Latest stable version

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run RSpec
        run: bundle exec rspec
  validate-yaml:
    runs-on: ubuntu-latest
    name: Validate merchants.yaml
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install -g ajv-cli
      - run: ajv -s lib/yellow_pages/merchants.schema.json -d lib/yellow_pages/merchants.yaml --errors=text
